/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author:Tyler Smith (@mbmufffin)
 */

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.flex-slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: "flexslider-icon";
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flexslider-icon.woff") format("woff"),
    url("../fonts/flexslider-icon.ttf") format("truetype"),
    url("../images/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .flex-slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  position: relative;
} /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .flex-slides a {
  text-decoration: none;
  outline: none;
}
.flexslider .flex-slides a img {
  border: none;
}
.flexslider .flex-slides img {
  max-width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .flex-slides element */
.flex-slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flex-slides {
  display: block;
}
* html .flex-slides {
  height: 1%;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
  position: relative;
  margin: 0;
}
.flex-viewport {
  max-height: 2000px;
  direction: ltr;
}
.loading .flex-viewport {
  max-height: 300px;
}

.carousel li {
  margin-right: 30px;
}
.carousel li:last-child {
  margin-right: 0;
}

/* Direction Nav */
.flex-direction-nav {
  *height: 0;
  line-height: normal;
}
.flex-direction-nav li {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 0;
  z-index: 10;
}
.flex-direction-nav li:first-child {
  left: 10px;
}
.flex-direction-nav li:first-child + li {
  right: 10px;
} /* IE8 Doesn't support last-child */
.flex-direction-nav li:last-child {
  right: 10px;
} /* Modern browsers support last-child */

.flex-direction-nav a {
  display: table-cell;
  width: 30px;
  height: 30px;
  padding: 2px 0 0 0;
  font-size: 18px;
  line-height: 18px;
  font-family: "flexslider-icon";
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.flex-direction-nav a:before {
  content: "\f001";
}
.flex-direction-nav a.flex-next:before {
  content: "\f002";
}
.flex-direction-nav a {
  color: #fff;
  background-color: #000;
}

.flexslider:hover .flex-prev,
.flexslider:hover .flex-next {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

.flex-direction-nav em {
  display: none;
}

/* Direction Nav - Carousel Custom Override */
.carousel.flex-carousel {
  position: relative;
}
.carousel.flex-carousel .flex-direction-nav {
  display: block;
  position: absolute;
  top: -25px;
  right: 0;
  width: 42px;
}
.carousel.flex-carousel .flex-direction-nav li {
  width: 20px;
  height: 20px;
  margin: 0;
}
.carousel.flex-carousel .flex-direction-nav li:first-child {
  left: 0;
}
.carousel.flex-carousel .flex-direction-nav li:first-child + li {
  right: 0;
} /* IE8 Doesn't support last-child */
.carousel.flex-carousel .flex-direction-nav li:last-child {
  right: 0;
} /* Modern browsers support last-child */

.carousel.flex-carousel .flex-direction-nav a {
  width: 20px;
  height: 20px;
  font-size: 13px;
  line-height: 13px;
}

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
  color: #000;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
}
.flex-pauseplay a:before {
  display: inline-block;
  font-family: "flexslider-icon";
  font-size: 20px;
  content: "\f004";
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: "\f003";
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.flex-control-thumbs {
  margin: 0;
  position: static;
  overflow: hidden;
  border-top: 1px solid transparent;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: 0.7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* Captions */
.flex-caption {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 20px 15px;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
}
.flex-caption * {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

/* Homepage */
.full_width .flexslider {
  max-height: 600px;
  overflow: hidden;
}
.flex-homepage .flex-caption {
  position: absolute;
  top: 20%;
  left: inherit;
  bottom: inherit;
  margin: 0;
  padding: 0;
  background: none;
}
.flex-homepage .flex-caption .fc-hpage {
  display: block;
  max-width: 1140px;
  margin: 0 auto;
}
.flex-homepage .flex-caption .fc-hpage p {
  margin-top: 0;
  padding: 0 15px;
}
.flex-homepage .flex-caption .fc-hpage .font-xl {
  font-size: 2em;
}
.flex-homepage .flex-caption .fc-hpage * span {
  display: inline-block;
  padding: 5px 8px;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-style: normal;
}
.flex-homepage .flex-caption .fc-hpage.fc-light * span {
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
}

/* Media Queries to hide elements in smaller viewports - added to main media queries CSS file */
/*
@media screen and (max-width:850px) {
	.flex-homepage .flex-caption{position:absolute; top:20%; left:0; margin:0; padding:0;}
	.flex-homepage .flex-caption .fc-hpage *{margin:0 0 4px 0;}
	.flex-homepage .flex-caption .fc-hpage .font-xl{font-size:1.4em;}
	.flex-homepage .flex-caption .fc-hpage .font-small{font-size:.85em;}
	.flex-homepage .flex-caption .fc-hpage .button{margin:0;}	
	}

@media screen and (max-width:650px) {
	.flex-caption{visibility:hidden; opacity:0; filter:alpha(opacity=0);}
	}

@media screen and (min-width:180px) and (max-width:361px) {
	.flex-direction-nav{display:none;}
	}
*/
.hon-panel {
  padding: 0 2rem;
  margin: 5vh auto;
  max-width: 1350px !important;
}

.panel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.card {
  margin: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(18, 238, 220, 0.349);
  border-radius: 1rem;
  box-shadow: 0 2px 2px rgba(57, 91, 94, 0.164);
  gap: 1.2rem;
  padding: 1.2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.panel-img {
  max-width: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.panel-vid {
  max-width: 250px;
  overflow: hidden;
  margin: auto;
}
.panel-name {
  text-align: center;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(6, 221, 236, 0.328);
}
