body 
{
	background:#fefefe;
	padding-top:4%;
	
}
#page-wrap
{
border: 4px dotted #E4E4E4;
min-height: 370px;
max-height: 900px;
padding-top: 6%;
}

#main-logo {
    border-right: 3px dashed #99cc32;
    text-align: center;
    height: auto;
    padding-top: 32px;
}
.col-xs-6 img
{
	width:100%;
}
#head h4
{
color: rgb(153, 204, 50);
font-size: 50px;
font-weight: normal;
  padding-left:0px;
font-family: bell gothic std;
}
#head span
{
	color:#b0cbdc;
	font-size:14px;
	text-decoration:underline;
	padding-top:33px;
    top: 0px;
    left: 0px;
}
#form form
{
	font-family:bell gothic std;
	color:#9b9b9b;
}
input[type="text"]
{
	color: #D6D6D6;
border: 2px solid #d6d6d6;
padding: 4px 0px;
margin-bottom: 10px;
}
input[type="submit"]
{
    background: none repeat scroll 0% 0% #FE952B;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0px 0px 0px 1px #CBE596;
    font-family: bell gothic std;
    color: #fff;
    transition: background 0.5s ease;
}
input[type="submit"]:hover
{
background:#CBE596;
border: 1px solid #FE952B;
box-shadow: 0px 0px 0px 1px #ccc;
color:#FE952B;
}
#powered-by-block
{
	padding-top:7%;
}
#powered-by-block span
{
	color:#99CC32;
	font-family:bell gothic std;
	font-size:10px;
	display:block;
	padding-right:10px;
}
#powered-by-block a
{
	text-decoration:underline;
	color:#FE952B
}

/***************** Media Queries*******************/

@media (max-width:1050px)
{
	#main-logo img{
	width: 100%;
    }
}
@media (max-width:767px)
{
	
	#main-logo {
	padding-bottom:30px;
    }
    #main-logo img{
	width: auto;
    }
}

@media (max-width:590px)
{
	#main-logo img{
	width: 100%;
    height: auto;
  
    }
}
@media (max-width:365px)
{

#head h4 {
    color: rgb(153, 204, 50);
    font-size: 35px;
  }
#head span {
      font-size: 13px;
    padding-top: 27px;
}
}
@media (max-width:326px)
{
#head span {
    font-size: 12px;
    padding-top: 27px;
}
}
@media (max-width:318px)
{
	
#head h4 {
    color: rgb(153, 204, 50);
    font-size: 32px;
  
}
#head span {
    font-size: 12px;
    padding-top: 27px;
}
}